body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.fish-list-item {
  padding: 10px;
  transition: background-color 0.3s;
  border: 1px solid #ccc;
  margin-bottom: 0px;
  cursor: pointer;
}

.fish-list-item:hover {
  background-color: #eaeaea;
}

.fish-list-header {
  padding-top: 10px;
}

.region-container {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 70px);
    overflow: hidden;
  }

.fish-list {
  flex-grow: 1;
  overflow-y: auto;
}

.fish-list-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.fish-info {
  width: 50%;
}
